<footer class="footer">
  <div class="container">
    <div class="row footerTextContainer">
      <div class="col-md-4 footer-first">
        <div><img src="../../assets/img/resumePhoto2.png" class="img-responsive my-photo-footer">
          <div class="footerText">Front-end developer with a passion for web design and code.
            I am in my second year of commercial experience working with large and small teams to serve software and websites to people all around the world.
          </div>
          <!--<div class="smallFooterText">-->
            <!--Front-end Developer, author of CSS3 Foundations, and graduate of Internet Technology. Hire Now asdf asdfdsas fasdf asdf asdffffffas dfasdf asdf asdfasdf asdf asdfasdf asdf-->
            <!--asdf asdf asdf asdf asdAvailable March 2017.-->
          <!--</div>-->
        </div>

      </div>
      <div class="col-md-4 git-linkedIn-img footer-second">
        <ul class="footerText">
          <li>
            <a href="https://github.com/bhad1"><img src="../../assets/img/GitHub-Mark-Light-64px.png"
                                                    class="footerLogo"></a>
            <dd> View Bryan on <a href="https://github.com/bhad1">GitHub</a> to check out some of his latest work.</dd>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/bryan-hadaway-b9491097/"><img
              src="../../assets/img/In-White-128px-R.png" class="footerLogo footerLogoGit"></a>
            <dd> Reach out to Bryan on his <a href="https://www.linkedin.com/in/bryan-hadaway-b9491097/">LinkedIn
              profile</a>.
            </dd>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-third">
        <nav class="footerText">
          <dl>
            <dt class="centered"><a routerLink="/about" class="centered" (click)="scrollTop()">ABOUT</a></dt>
            <dd>Learn about Bryan's skills and workflow</dd>
            <dt><a routerLink="/portfolio" (click)="scrollTop()">PORTFOLIO</a></dt>
            <dd>View some of Bryan's development work</dd>
            <dt><a class="contact-me">CONTACT</a></dt>
            <dd class="ddPhoneNum">Phone: 770-880-2074</dd>
            <dd>Email: bhad778@gmail.com</dd>
          </dl>
        </nav>
      </div>
    </div>
  </div>
</footer>
