  .carousel{
  height: 600px;
  overflow: hidden;
}
.slides{
  height: 100%;
  padding: 0;
}
.slides li{
  list-style: none;
  height: 100%;
}
.slides li img{
  height: 100%;
  width: 100%
}
.container{
  width: 1329px;
}
.arrow{
  position: relative;
  color: white;
}
.arrow:hover{
  color: grey;
  cursor: pointer;
}
.arrowContainer{
  position: relative;
  top: -350px;
}
.fa-arrow-right{
  float: right;
}
.transparent-circle {
  background-color: rgba(204, 0, 102, 0);
  border: 1px solid #000;
  height: 25px;
  width: 25px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  display: inline-block;
  border: 2px solid white;
}
.transparent-circle:hover{
  background-color: white;
  cursor: pointer;
}
.circlesContainer{
  text-align: center;
  position: relative;
  bottom: 115px;
}

  @media (max-width: 900px) {
      .carousel{
        max-height: 500px;
      }
  }
  @media (max-width: 760px) {
    .carousel{
      max-height: 400px;
    }
  }
  @media (max-width: 575px) {
    .container{
      width: auto;
    }
  }
  @media (max-width: 600px){
    .circlesContainer{
      display: none;
    }
  }

  @media (min-width: 500px) and (max-width: 760px) {
    .arrowContainer{
      position: relative;
      top: -250px;
    }
  }
