<div class="container">

  <div class="row">
    <div class="col-md-2">
      <div><img src="../../assets/img/resumePhoto2.png" class="img-responsive my-photo"></div>
    </div>
    <div class="col-md-10">
      <h3 class="text-line-height">I am a front-end developer, graduate of Internet Technology, and author of CSS3
        Foundations. I
        have 8 years
        commercial experience working with clients from around the world, providing responsive front-end development and
        WordPress integrations.</h3>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1">

    <div class="row">
      <div class="col-md-12">
        <h4 class="skillSetIntro">Clients often approach me when they need someone with the following skills:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="text-line-height">
          <li>Front-end Development
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript
                <ul>
                  <li>jQuery</li>
                  <li>AngularJS</li>
                </ul>
              </li>
              <li>Performance</li>
              <li>Animation</li>
            </ul>
          </li>
          <li>WordPress Development
            <ul>
              <li>Themes</li>
              <li>Admin/Plugin Setup</li>
              <li>Custom Functionality</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height">The work I provide is of highest quality, fully responsive, and tested in a wide
          range
          of devices. I take great care to ensure each project is well-documented and easily maintainable so you can
          enhance a website as your company grows.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height">The work I provide is of highest quality, fully responsive, and tested in a wide
          range
          of devices. I take great care to ensure each project is well-documented and easily maintainable so you can
          enhance a website as your company grows.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height">The work I provide is of highest quality, fully responsive, and tested in a wide
          range
          of devices. I take great care to ensure each project is well-documented and easily maintainable so you can
          enhance a website as your company grows.</h4>
      </div>
    </div>

    <div class="row new-text-group">
      <div class="col-md-12">
        <h2><strong>Skills</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height">The work I provide is of highest quality, fully responsive, and tested in a wide
          range
          of devices. I take great care to ensure each project is well-documented and easily maintainable so you can
          enhance a website as your company grows.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height">The work I provide is of highest quality, fully responsive, and tested in a wide
          range
          of devices. I take great care to ensure each project is well-documented and easily maintainable so you can
          enhance a website as your company grows.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height">The work I provide is of highest quality, fully responsive, and tested in a wide
          range
          of devices. I take great care to ensure each project is well-documented and easily maintainable so you can
          enhance a website as your company grows.</h4>
      </div>
    </div>
    <div class="row new-text-group">
      <div class="col-md-12">
        <h2><strong>Front-end Developer</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 logo">
        <img src="../../../assets/img/html5css3js.png" class="logosTopRow">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 logo">
        <img src="../../../assets/img/jQureryImg.gif" class="logosBotRow">
      </div>
      <div class="col-md-2 logo">
        <img src="../../../assets/img/angularjsImg.png" class="logosBotRow angularLogo">
      </div>
      <div class="col-md-2 logo sassImgPad">
        <img src="../../../assets/img/sassImg.png" class="logosBotRow sassImg">
      </div>
      <div class="col-md-2 logo gitLogoPad">
        <img src="../../../assets/img/gitImg.png" class="logosBotRow gitLogo">
      </div>

    </div>

      <div class="row">
        <div class="col-md-12">
          <h4 class="text-line-height">The work I provide is of highest quality, fully responsive, and tested in a wide
            range
            of devices. I take great care to ensure each project is well-documented and easily maintainable so you can
            enhance a website as your company grows. asdfasdfasdf aaaaaaaaaaaafsdfasdfasdfasdf</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-line-height">The work I provide is of highest quality, fully responsive, and tested in a wide
            range
            of devices. I take great care to ensure each project is well-documented and easily maintainable so you can
            enhance a website as your company grows. asdfasdfasdf aaaaaaaaaaaafsdfasdfasdfasdf</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-line-height">The work I provide is of highest quality, fully responsive, and tested in a wide
            range
            of devices. I take great care to ensure each project is well-documented and easily maintainable so you can
            enhance a website as your company grows. asdfasdfasdf aaaaaaaaaaaafsdfasdfasdfasdf</h4>
        </div>
      </div>

  </div>

</div>
