<div class="container">

  <div class="row">
    <div id="aboutPic" class="col-md-2">
      <img src="../../assets/img/resumePhoto2.png" class="img-responsive my-photo center-block">
    </div>
    <div id="aboutPicText" class="col-md-10">
      <h3 class="text-line-height">I am a front-end developer with a passion for web design and code.
         I am in my second year of commercial experience working with large and small teams to serve software and websites to people all around the world.</h3>
    </div>
  </div>
  <div class="col-md-10 col-md-offset-1">

    <div class="row">
      <div class="col-md-12">
        <h4 class="skillSetIntro">A few of my skills include:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="text-line-height">
          <li>Front-end Development
            <ul>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>JavaScript
                <ul>
                  <li>jQuery</li>
                  <li>Angular</li>
                </ul>
              </li>
              <li>Performance</li>
              <li>Git</li>
              <li>TypeScript</li>
              <li>Sass</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height">I take pride in my work and always make fully responsive sites that are tested on all devices. I believe in mobile first.
          If a site does not work seemlessly on every device it does not work at all. My experience involves working with one of the world's largest banks to redesign the wesbite
          to be responsive and scalable to expand to countries throughout the world spanning all different languages.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height">I place high importance on code clarity and documentation. My code is organized and filled with explanation and documentation wherever necessary.
           I believe that quality code is organized code and is only maintains value if the next developer can cleary understand it and pick it up easily.</h4>
      </div>
    </div>

    <div class="row new-text-group">
      <div class="col-md-12">
        <h2><strong>Skills</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height"> My skills mainly belong in the front end, although I have some experience with SQL and java.
           I know what it is like to learn a framework to have it be updated and changed the next day.
           I welcome new changes whatever they may be and always align code with the latest updates and features.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height">I have experienced working with a team that has grown to seven people and shrunk to two people.
        Pair programming and being able to solve problems independently are both solid strengths of mine.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height">Having joined a team at the start of a project while staying to the end, I have experience with starting from nothing while also working through strict deadlines.
        I work well under stress and never leave work until all the days work is done.</h4>
      </div>
    </div>
    <div class="row new-text-group">
      <div class="col-md-12">
        <h2><strong>Front-end Developer</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 logo">
        <img src="../../../assets/img/html5css3js.png" class="logosTopRow">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 logo">
        <img src="../../../assets/img/jQureryImg.gif" class="logosBotRow">
      </div>
      <div class="col-md-2 logo">
        <img src="../../../assets/img/angularjsImg.png" class="logosBotRow angularLogo">
      </div>
      <div class="col-md-2 logo sassImgPad">
        <img src="../../../assets/img/sassImg.png" class="logosBotRow sassImg">
      </div>
      <div class="col-md-2 logo gitLogoPad">
        <img src="../../../assets/img/gitImg.png" class="logosBotRow gitLogo">
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <h4 class="text-line-height">What I love is learning, and whether its a new website, tool , or plugin, I am always working on something in my free time.
        I love to keep updated on the latest in the coding world and I try to attend as many tech talks and meetups as possible.</h4>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-line-height">Currently my goal is to learn and experience as much as I can in the developing world.
            I welcome being thrown into new uncomfortable situations that force me to learn and build as fast as I can.
            I love working with new people because I love learning as much as I can from those with different experience than me.</h4>
        </div>
      </div>

  </div>

</div>
