<div class="jumbotron">
  <div class="container">
    <div class="text-center">
      <h1>Responsive Front-End Development</h1>
      <ul class="row">
        <li class="col-md-2">HTML5</li>
        <li class="col-md-2">CSS3</li>
        <li class="col-md-2">JavaScript</li>
        <li class="col-md-2">JQuery</li>
        <li class="col-md-2">Angular</li>
        <li class="col-md-2">Sass</li>
      </ul>
      <h3 id="project-list">Project List</h3>
      <ul class="row projects">
        <li class="col-md-2 hvr-float-shadow"><a (click)="changeProject(1)">Angular Carousel</a></li>
        <li class="col-md-2 hvr-float-shadow"><a (click)="changeProject(2)">Product Listing Page</a></li>
        <li class="col-md-2 hvr-float-shadow"><a (click)="changeProject(3)">Angular Carousel</a></li>
        <li class="col-md-2 hvr-float-shadow"><a (click)="changeProject(4)">Angular Carousel</a></li>
        <li class="col-md-2 hvr-float-shadow"><a (click)="changeProject(5)">Angular Carousel</a></li>
        <li class="col-md-2 hvr-float-shadow"><a (click)="changeProject(6)">Angular Carousel</a></li>
      </ul>
    </div>
  </div>
</div>

