.jumbotron{
  background-color: #4CAF50;
  margin-bottom: 0;
  padding-top: 75px;
  padding-bottom: 0;
}
li{
  list-style: none;
}
.jumbotron li, .jumbotron h1, #view-work-button{
  color: white;
}
@media screen and (min-width: 768px){
  #view-work-button{
    font-size: 18px;
  }
}
@media screen and (max-width: 767px){
  .jumbotron{
    padding-top: 0px;
  }
  #view-work-button{
    font-size: 18px;
  }
}
#project-list{
  margin-top: 80px;
  color: white;
}
ul{
  padding-left: 10px;
}
a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.projects a:hover, .projects a:active{
  color: rgba(0, 0, 0, 0.9);
}
.projects{
  margin-bottom: 0;
}
.col-md-6{
  margin: 0 auto;
}
.project{
  display: inline-block;
  padding: 0 12px;
}
@media (max-width: 991px) {
  .project{
    display: block;
  }
}
