<div class="jumbotron">
  <div class="container">
    <div class="text-center">
        <h1>Responsive Front-End Development</h1>
        <ul class="row">
          <li class="col-md-2">HTML5</li>
          <li class="col-md-2">CSS3</li>
          <li class="col-md-2">JavaScript</li>
          <li class="col-md-2">JQuery</li>
          <li class="col-md-2">Angular</li>
          <li class="col-md-2">Sass</li>
        </ul>
      <h3 id="project-list">Project List</h3>
      <ul class="row projects">
        <div class="col-md-6">
          <li class="project"><a (click)="changeProject(1)">Product Listing</a></li>
          <li class="project"><a (click)="changeProject(2)">Carousel</a></li>
          <li class="project"><a (click)="changeProject(3)">Album Module</a></li>
        </div>
      </ul>
    </div>
  </div>
</div>
