.jumbotron{
  background-color: #4CAF50;
}
li{
  list-style: none;
}
.jumbotron li, .jumbotron h1, #view-work-button{
  color: white;
}
@media screen and (min-width: 768px){
  .jumbotron{
    padding-top: 125px;
    padding-bottom: 0px;
  }
  #view-work-button{
    font-size: 18px;
  }
}
#project-list{
  margin-top: 75px;
  color: white;
}
ul{
  padding-left: 10px;
}
a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
a{
  cursor: pointer;
}
.projects a:hover, .projects a:active{
  color: rgba(0, 0, 0, 0.9);
}
